[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
beautifulsoup4 = "*"
numpy = "*"
pandas = "*"
python-docx = "*"
requests = "*"
scikit-learn = "*"
sumy = "*"
textract = "*"
wikipedia-api = "*"

[dev-packages]

[requires]
python_version = "3.8"
