[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit_chat = "*"
sentence-transformers = "*"
llama_index = "*"
python-dotenv = "*"
openai = "*"
pinecone-client = "*"
langchain = "*"
pypdf = "*"
tiktoken = "*"
bs4 = "*"
faiss-cpu = "*"
unstructured = "*"

[dev-packages]

[requires]
python_version = "3.9"
