[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
tiktoken = "*"
faiss-cpu = "*"
pypdf = "*"
PyPDF2 = "*"
langdetect = "1.0.9"
iso-639 = "0.4.5"

[dev-packages]

[requires]
python_version = "3.9"
