beautifulsoup4==4.9.3
numpy==1.20.3
pandas==1.2.4
python-docx==0.8.10
requests==2.25.1
scikit-learn==0.24.2
sumy==0.8.1
textract==1.6.5
wikipedia-api==0.5.4
text_summarizer==0.0.7
pdfminer.six==20201018
tiktoken==0.0.11
streamlit==0.87.0
openai==0.30.0
langchain==0.1.0
streamlit_chat==0.1.0
